.search {
  max-width: 350px;
  width: 100%;
  margin: 2em auto 2em;
  display: grid;
  grid-template-columns: 1fr 0.25fr;
}
.search__input {
  border: none;
  background-color: white;
  border-radius: 8px 0 0 8px;
  padding: 0.5em 0.75em;
  font-size: 1.1rem;
  outline: none;
}
.search__btn {
  color: white;
  border: none;
  background-color: #6fa623;
  border-radius: 0 8px 8px 0;
  padding: 0.5em 0.75em;
  font-size: 1.1rem;
  outline: none;
}
.message__error {
  max-width: max-content;
  color: rgb(255, 0, 0);
  border-radius: 5px;
  background-color: rgba(255, 208, 208, 0.271);
  padding: 0 2%;
  text-align: center;
  margin: auto auto 2em auto ;
  justify-content: center;
}
